@import "./Scss/variables.scss";
@import "./Scss/mixin.scss";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: $main-font-size;
   
} 
.header_sections{
    display:flex;
}
.header{
    display:flex;
    color: $text-color-main;
}
.header_sections_menu, .header_sections_menu_list,
.header_sections_menu_list_items
{
    display: inline-block;
}
.sub_menu{
    display:none;
}
ul, li, a{
    list-style-type: none;
    text-decoration: none;
    
}
.first_section{
    background-color: $bg-color-header;
    
}
.header_sections_menu_list_items_link{
    color: $text-color-main;
}